@charset "UTF-8";
/* Box Model */
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #0C0C0D;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(16px, 0.938vw, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  height: 100%;
}

/* Contenedor de Grid */
.grid-contenedor-padre {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-gap: 20px;
}

.grid-item-hijo {
  padding: 20px;
  margin-bottom: 20px;
}

/* Media queries para móviles */
@media (max-width: 768px) {
  .grid-contenedor-padre {
    grid-template-areas: "header" "main" "nav" "footer";
  }
}
#mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 1rem;
  color: #fff;
  z-index: 10;
  /* Flexbox para navbar */
}
#mainNav .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #f97316;
}
#mainNav .nav-item a {
  color: #fff;
  text-decoration: none;
}
#mainNav .nav-item a:hover {
  color: #f97316;
}
#mainNav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
@media (max-width: 768px) {
  #mainNav ul {
    flex-direction: column;
  }
}

.navbar-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

#Principal {
  background-image: url("../images/Fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

#Principal.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home h1 {
  font-size: 3rem;
  color: #fff;
  margin-top: 10px;
}

#home p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
}

/* Botón del banner */
.btn-lg {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #f97316;
  border-radius: 5px;
}

/* Estilos específicos para el logo */
.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Asegúrate de que la galería ocupe el 100% del ancho */
.gallery {
  width: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 20px;
  justify-content: center;
}

.gallery-item {
  flex: 1 0 20%;
  transition: flex 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
}

.gallery-item img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.gallery-item:hover {
  flex: 1 0 40%;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/* Asegúrate de que el body y html ocupen el 100% del ancho y alto */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
