.section2 {
  display: flex;
  justify-content: center;
  gap: 10px;                 /* Ajusta el espacio entre las imágenes */
  padding: 20px;
  background-color: #0C0C0D;
  overflow: hidden;          /* Oculta contenido que se salga del contenedor */
}

.section2-item {
  flex: 1 1 0;
  max-width: 240px;
  position: relative;
  overflow: hidden;
  transition: flex 0.5s ease, transform 0.5s ease; /* Transición de flex y escala */
  border-radius: 10px;
  background-color: #1a1a1a;
}

.section2-item img {
  width:  60vh;
  height: auto;
  display: block;
  transition: transform 0.5s ease-in-out;
}

.section2-item:hover {
  flex: 2 1 0;                /* Expande el elemento bajo el puntero */
  transform: scale(1.05);     /* Hace zoom en la imagen */
}

.section2-item:hover ~ .section2-item {
  flex: 0.5 1 0;              /* Reduce el tamaño de los elementos siguientes */
  transform: scale(0.9);      /* Hace un pequeño zoom out en los elementos siguientes */
}

.section2-item:hover + .section2-item {
  flex: 0.5 1 0;              /* Reduce el tamaño de los elementos anteriores */
  transform: scale(0.9);
}

.section2-item .text-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $primary-color;
  color: #000;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 0.9em;
}
