/* Variables */
$primary-color: #f97316;
$secondary-color: #333;

/* Mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nesting */
.grid-contenedor-padre {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-gap: 20px;

    /* Grid-item-hijo */
    .grid-item-hijo {
        padding: 20px;
    }

    /* Media queries */
    @media (max-width: 768px) {
        grid-template-areas: 
            "header"
            "main"
            "nav"
            "footer";
    }
}

/* Aplicando mixin */
.navbar {
    @include flex-center;
    background-color: $secondary-color;

    ul {
        @include flex-center;
    }

    a {
        color: $primary-color;
    }
}
